#form-container {
    background-color: #fffff0; /* Offwhite background */
    max-width: 1500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#form-header {
    background-color: #3498db; /* Blue background */
    padding: 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#form-header h1 {
    color: #fff; /* White text */
    margin: 0;
}
#form-content {
    padding: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 10px;
}
input, select {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.submit-button,
.reset-button {
    background-color: #1a73e8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}
.reset-button{
    width: 100%;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #f5f5f5;
    color: #333;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip-icon {
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px dotted #000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: #3498db;
    color: #fff;
}
.eligible {
    color: #318f58;
}
.not-eligible {
    color: #e74c3c;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.form-group label {
    flex: 1;
    margin-bottom: 0;
}
.form-group select {
    flex: 1;
    margin-left: 10px;
}
.income-input {
    display: flex;
    align-items: center;
}
.dollar-sign {
    margin-right: 5px;
    margin-bottom: 15px;
}
.income-input input {
    flex: 1;
}
.dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.dialog-content {
    text-align: center;
}
.dialog-buttons button {
    margin: 10px;
}
.annual-income-input {
    display: none;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: ivory; /* Off-white background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; /* Add a transition effect */
}
.card:hover {
    transform: scale(1.02); /* Slightly enlarge the card on hover */
}
.card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.card .result-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}
.card .result-text {
    font-size: 16px;
    text-align: center;
    color: #555;
}
.card.eligible {
    border-left: 5px solid #4caf50;
    background-color: #d4edda;
    color: #155724;
}
.card.not-eligible {
    border-left: 5px solid #f44336;
    background-color: #f8d7da;
    color: #721c24;
}
.disclaimer.card {
    border-color: red;
    border-width: 5px;
}
.red-underline-header {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
    font-size: 1.5em;
    font-weight: 600;
}
.red-underline-header-smaller {
    font-size: 1.1em;
    font-weight: bolder;
}